@font-face {
    font-family: 'e-Ukraine';
    src: url('Fonts/e-Ukraine/e-Ukraine-Regular.eot');
    src: url('Fonts/e-Ukraine/e-Ukraine-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.woff2') format('woff2'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.woff') format('woff'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.ttf') format('truetype'),
        url('Fonts/e-Ukraine/e-Ukraine-Regular.svg#e-Ukraine-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(41, 44, 51);
}

.content{
    background-color: rgb(41, 44, 51);
    margin: 0px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.header{
    background-color: rgb(33, 121, 45);
    border-bottom: 5px solid rgb(20, 55, 27);
    height: 80px;
}

.menu_text{
    color: white;
    font-size: 20px;
    font-family: "e-Ukraine";
    text-align:right;
    text-decoration: none;   
    display: inline;
    margin: 5px;
}

.menu_photo{
    height: 70px;
    display:inline-block;
    margin:auto;
}

.main{
    background-color: rgb(41, 44, 51);
    border: 5px solid rgb(33, 121, 45);
    color: white;
    font-size: 20px;
    margin: 50px;
    padding: 10px;
    font-family: "e-Ukraine";

}